.pull-right
  = will_paginate @departments

- @departments.each do |department|
  strong= department.name
  - if department.employees.count > 0
    br
    - department.employees.each do |employee|
      = employee.email
      br
      /- if employee.profile.working_hours.present?
        = render partial: 'employees/working_hours', locals: {employee: employee}
    hr