- count_departments = employee.departments.pluck(:name).count
.pull-right
  - if employee
    - if policy(employee).view_department?
      = link_to related_to_department_employee_path(employee), class: 'btn btn-default departments related_to_departments', title: "#{employee.departments.map(&:name).join(', ')}", data: {remote: true} do
        i.fa.fa-connectdevelop aria-hidden="true"
        span class="btn btn-circle btn-info" = count_departments
    - if policy(employee).update?
      = link_to edit_employee_path(employee), class: 'btn btn-primary' do
        i.fa.fa-pencil
    - if policy(employee).destroy?
      = link_to employee_path(employee), class: 'btn btn-danger', method: :delete, data: {remote: true, confirm: 'Are you sure?'} do
        i.fa.fa-trash
