.modal.fade id="departmentsModal" aria-hidden="true" aria-labelledby="departmentsModal" role="dialog"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" ×
        h4.modal-title#departments_title
          = "Departments:"
      .modal-body
        #employee_info
        #departments-ModalBody