.panel-body
  = form_for employee, url: action_path,  html: { class: 'form-horizontal', role: 'form' } do |f|
    .form-group.field class="#{employee.errors.include?(:email) ? 'has-error' : ''}"
      = f.label :email, 'Email'
      = f.text_field :email, class: 'form-control'
      = error_message_for :email, employee
    .form-group.field class="#{employee.errors.include?(:in_vocation) ? 'has-error' : ''}"
      = f.label :in_vocation, 'IN vocation'
      br
      = f.radio_button :in_vocation, 'TRUE', checked: employee.in_vocation ? true : false
      | TRUE
      = f.radio_button :in_vocation, 'FALSE', checked: !employee.in_vocation ? true : false
      | FALSE
      = error_message_for :in_vocation, employee

    = f.fields_for :profile do |profile_attr|
      .form-group.field class="#{employee.profile.errors.include?(:first_name) ? 'has-error' : ''}"
        = profile_attr.label :first_name, 'First Name'
        = profile_attr.text_field :first_name, class: 'form-control'
        = error_message_for :first_name, employee.profile
      .form-group.field class="#{employee.profile.errors.include?(:last_name) ? 'has-error' : ''}"
        = profile_attr.label :last_name, 'Last Name'
        = profile_attr.text_field :last_name, class: 'form-control'
        = error_message_for :last_name, employee.profile
      .form-group.field class="#{employee.profile.errors.include?(:second_name) ? 'has-error' : ''}"
        = profile_attr.label :second_name, 'Second Name'
        = profile_attr.text_field :second_name, class: 'form-control'
        = error_message_for :second_name, employee.profile
      .form-group.field class="#{employee.profile.errors.include?(:phone_number) ? 'has-error' : ''}"
        = profile_attr.label :phone_number, 'Phone'
        = profile_attr.text_field :phone_number, class: 'form-control'
        = error_message_for :phone_number, employee.profile
      .form-group.field class="#{employee.profile.errors.include?(:gender) ? 'has-error' : ''}"
        = profile_attr.label :gender, 'gender'
        br
        = profile_attr.radio_button :gender, 'male', checked: true
        | Male
        = profile_attr.radio_button :gender, 'female'
        | Female
        = error_message_for :gender, employee.profile
      .form-group.field class="#{employee.profile.errors.include?(:date_birth) ? 'has-error' : ''}"
        = profile_attr.label :date_birth, 'Birth date'
        .input-group.date.date_picker
          = profile_attr.text_field :date_birth, class: "form-control #{employee.profile.errors.include?(:date_birth) ? 'has-error' : ''}"
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
        - if employee.profile.errors.include? :date_birth
          = error_message_for :date_birth, employee.profile
      .form-group.field class="#{employee.profile.errors.include?(:avatar) ? 'has-error' : ''}"
        = profile_attr.label :avatar
        = profile_attr.file_field :avatar, class: "form-control #{employee.profile.errors.include?(:avatar) ? 'has-error' : ''}"
        - unless employee.profile.avatar.blank?
          = image_tag employee.profile.avatar.url(:thumb)
      .form-group.field
        h3.with-line-top Working Hours
        = profile_attr.fields_for :working_hours do |working_hours|
          - Date::DAYNAMES.each do |day|
            = working_hours.fields_for day.downcase do |builder|
              .form-group class="#{employee.profile.errors.include?("working_hours_#{day.downcase}".to_sym) ? 'has-error' : ''}"
                .row
                  = builder.label :from, day, class: 'col-lg-2 col-md-2 control-label'
                  - from = profile_attr.object.working_hours_field(day.downcase.to_sym, :from).kind_of?(Time) ? profile_attr.object.working_hours_field(day.downcase.to_sym, :from).in_time_zone.strftime(t('time.formats.time')) : profile_attr.object.working_hours_field(day.downcase.to_sym, :from)
                  - to = profile_attr.object.working_hours_field(day.downcase.to_sym, :to).kind_of?(Time) ? profile_attr.object.working_hours_field(day.downcase.to_sym, :to).in_time_zone.strftime(t('time.formats.time')) : profile_attr.object.working_hours_field(day.downcase.to_sym, :to)
                  .col-lg-5.timepicker-range
                    .input-group.date.time_picker
                      .input-group-addon From
                      span.input.from= builder.text_field :from, class: 'form-control col-lg-2 col-md-2 time-picker btn', value: from
                      i.fa.fa-clock-o aria-hidden="true"
                  .col-lg-4.timepicker-range
                    .input-group.date.time_picker
                      .input-group-addon To
                      span.input.from= builder.text_field :to, class: 'form-control col-lg-2 col-md-2 time-picker btn', value: to
                      i.fa.fa-clock-o aria-hidden="true"
                .row
                  = error_message_for "working_hours_#{day.downcase}".to_sym, employee.profile
    .form-group
      = f.submit action_name == 'edit' ? 'Update' : 'Create', class: 'form-control btn btn-primary submit-button'

