- if employees
  table class="table table-hover table-inbox"
    tr
      th Avatar
      th Full Name
      th Email
      th Gender
      th Date Birth
      - if controller_name == 'employees'
        th
      - employees.each do |employee|
        tr data-id=employee.id
          th
            - unless employee.profile.avatar.blank?
              = image_tag employee.profile.avatar.url(:thumb)
          td= "#{employee.profile.first_name} #{employee.profile.last_name}"
          td= employee.email
          td= employee.profile.gender
          td= employee.profile.date_birth
          - if controller_name == 'employees'
            td= render partial: 'block_btn', locals: {employee: employee}
