- if departments
  #department-container
    - deps_id_employee = employee.departments.map(&:id)
    - departments.each do |department|
      - department_exists  = deps_id_employee.include?(department.id)
      .box.col-lg-3 data-id=department.id
        .btn class="#{department_exists ? 'btn-success active' : 'btn-default'}"
          h5= department.name
          - if policy(employee).related_to_department?
            - if department_exists
              = link_to related_to_department_employee_path(employee, connected: false, department_id: department.id), class: 'btn btn-default connect_to_department', id: 'disconnect_to_department', title: 'Disconnect department', data: {remote: true, connected: false} do
                i.fa.fa-minus-circle aria-hidden="true"
            - unless department_exists
              = link_to related_to_department_employee_path(employee, connected: true, department_id: department.id), class: 'btn btn-default connect_to_department', id: 'connect_to_department', title: 'Connect to Departments', data: {remote: true, connected: true} do
                i.fa.fa-plus-circle aria-hidden="true"
