- working_hours = (employee.profile.working_hours || {})
- if working_hours.present?
  section.panel
    header.panel-heading
      i.fa.fa-clock-o &nbsp; Employee's Working Hours
    ul
      - Date::DAYNAMES.map(&:downcase).each do |week_day|
        - day = working_hours[week_day.to_sym]
        - if day
          li.agenda-days
            span.day= week_day.capitalize
            span.time.pull-right= "#{day[:from].in_time_zone} - #{day[:to].in_time_zone}"
            /span.time.pull-right= "#{day[:from].in_time_zone.strftime(t('time.formats.time'))} - #{day[:to].in_time_zone.strftime(t('time.formats.time'))}"
        - else
          li.agenda-days
            span.day= week_day.capitalize
            span.time.working-hours.pull-right Does not Work!

