- if @department
  div class="row"
    h1
      span Department:
      span = @department.name
    .row
      .col-sm-6.col-lg-6.col-md-6
        - if policy(@department).connect_employees?
          = link_to connect_employees_department_path(@department), class: 'btn btn-primary btn-block connect_employees', data: {remote: true, id: @department.id} do
            i.fa.fa-users aria-hidden="true"
            em Connect employees
      .col-sm-6.col-lg-6.col-md-6
        = link_to new_department_employee_path(@department), class: 'btn btn-default btn-block' do
          i.fa.fa-plus
          span Create employee for Current department
  br
    = render partial: 'departments/employees'
div class='department-employees'
  - if policy(Employee).new?
    .pull-right
      = link_to new_employee_path, class: 'btn btn-default' do
        i.fa.fa-plus-circle aria-hidden="true"
        em Create Employee
  br
  - unless @employees.blank?
    .pull-right
      = will_paginate @employees
    div class="row"
      div class="col-sm-12 col-lg-12 col-md-12" id='department-employees'
        = render partial: 'lhs_table_users', locals: { employees: @employees }

    = render partial: 'employees/departments'