| $('#employee_info').html("#{escape_javascript(render partial: 'employees/info', locals: { employee: @employee } )}");
| $('#departments-ModalBody').html("#{escape_javascript(render partial: 'employees/list_departments', locals: { employee: @employee, departments: @departments } )}");
| $('[data-id="#{@employee.id}"]').find('.btn-circle').text("#{@employee.departments.count}");