div class="row"
  div class="col-sm-12 col-lg-12 col-md-12"
    /= debug @employee.profile.first_name
    /= debug @employee.profile.last_name
    /= debug @employee.profile.date_birth
    /= debug @employee.profile.gender
    = render partial: 'employees/block_btn', locals: { employee: @employee }
    br /
    span Employee:
    .row
      h3= @employee.profile.full_name
      span= @employee.email

      br /
      hr /
      span Profile:
      = @employee.profile.gender
      br /
      = @employee.profile.date_birth
      br /
      = @employee.departments.map(&:name)
    .row
      = render partial: 'employees/working_hours', object: @employee, as: :employee
/= render partial: 'departments/employees'
