h1
  Please Sign In by Email
div class="social-login-btn"
= form_for resource, as: resource_name, url: session_path(resource_name),  html: { role: 'form' } do |f|
  = devise_error_messages!
  div class="form-group"
    = f.label :email, class: ''
    = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
  div class="form-group"
    /- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-right'
    = f.label :password
    = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
  /div class="form-group checkbox pull-left"
  /  label
  /    = f.check_box :remember_me
  /    = f.label :remember_me
  div class="form-group"
    button class="pull-right btn btn btn-primary loginmodal-submit" type="submit" Log In
/= render 'users/shared/links'