- flash.each do |type, message|
  div class='row flash-message'
    div class='col-lg-12'
      div class="alert alert-#{twitterized_type(type)} alert-dismissible fade in" role='alert'
        button type='button' class='close' data-dismiss='alert'
          span aria-hidden='true' &times;
          span class='sr-only'  Close
        = message
- flash.clear
