ul class="nav navbar-nav navbar-right"
  - if user_signed_in?
    li
      = link_to current_user.email, edit_user_registration_path
    li
      = link_to 'Log Out', destroy_user_session_path, method: :delete
  - else
    li
      = link_to 'Sign In', new_user_session_path
    li
      = link_to 'Join Us', new_user_registration_path
