.pull-right
  - if policy(department).connect_employees?
    = link_to connect_employees_department_path(department), class: 'btn btn-default connect_employees', data: { remote: true, id: department.id } do
      i.fa.fa-users aria-hidden="true"
      em Employees
      em class="btn btn-circle btn-info" id="count_employees" = department.count_of_employees
  - if policy(department).update?
    = link_to edit_department_path(department), class: 'btn btn-primary' do
      i.fa.fa-pencil aria-hidden="true"
  - if policy(department).destroy?
    = link_to department_path(department), class: 'btn btn-danger', method: :delete, data: {remote: action_name == 'show' ? false : true, confirm: 'Are you sure?'} do
      i.fa.fa-trash aria-hidden="true"
  /- if policy(department).connect_to_department?
    = link_to connect_employee_department_path(department, current_user), class: 'btn btn-default', data: { remote: true } do
      i.fa.fa-user-plus aria-hidden="true"
      em Connect to department
