.modal.fade id="employeeesModal" aria-hidden="true" aria-labelledby="employeeesModal" role="dialog"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" ×
        h4.modal-title#employees_title
          = "Employees:"
      .modal-body
        #employees-ModalBody
