.panel-body
  = form_for department, url: action_path, class: 'form-horizontal', role: 'form' do |f|
    .form-group.field class="#{department.errors.include?(:name) ? 'has-error' : ''}"
      = f.label :name, 'Department name *'
      = f.text_field :name, class: 'form-control'
      - if department.errors.include? :name
        span.help-block
          = error_message_for :name, department
    .form-group.field class="#{department.errors.include?(:description) ? 'has-error' : ''}"
      = f.label :description
      = f.text_area :description, class: 'form-control'
      - if department.errors.include? :description
        span.help-block
          = error_message_for :description, department
    .form-group
      = f.submit action_name == 'edit' ? 'Update' : 'Create', class: 'form-control btn btn-primary submit-button'
