.panel-body
  = form_for department, url: connect_employee_department_path(department), data: { remote: true }, html: {class: 'form-horizontal', role: 'form', multipart: true} do |f|
    .form-group.field class="#{department.errors.include?(:employees) ? 'has-error' : ''}"
      = f.label :employees
      - employee_delected = department.employees.map{|c| c.email} || params[:department].try(:[], :employees)
      = f.select :employees, options_from_collection_for_select(Employee.eager_load(:profile), :email, :email, { selected: employee_delected} ), {}, {id: 'employees-select', class: 'form-control', multiple: true, style: 'width: 75%'}
    .form-group
      = f.submit 'Connect these Employees', class: 'form-control btn btn-primary submit-button'

javascript:
  $(document).ready(function(){
    $('#employees-select').select2({
      tags: 'true',
      tokenSeparators: [',', ' '],
      allowClear: true
    });
  })