.pull-right
  = will_paginate departments
table class="table table-hover table-inbox"
  tr
    th Name
    th Description
    th
    - departments.each do |department|
      tr data-id=department.id
        td
          div class="fa-hover col-md-3 col-sm-3"
            = link_to department_path(department), class: 'btn btn-default btn-sm' do
              = department.name
        td
          = department.description
        td
          = render partial: 'block_btn', locals: { department: department }
