- if employees.empty?
  h4 You do not have any employees connected to this department.
  br
  | You Can Connect employee
  = render partial: 'departments/form_add_employees', locals: {department: department }
- else
  = render partial: 'departments/form_add_employees', locals: {department: department }
  = render partial: 'employees/lhs_table_users', locals: { employees: employees }
