| $('#employeeesModal').modal('hide');
| $('#department-employees').html("#{escape_javascript(render partial: 'employees/lhs_table_users', locals: { employees: @employees, department: @department } )}");
| $('[data-id="#{@department.id}"]').find('.btn-circle').text("#{@department.count_of_employees}");
