- if policy(Department).new?
  div class="row"
    div class="col-lg-12 col-md-12"
      = link_to new_department_path, class: 'btn btn-default btn-block btn-bigg' do
        i class="fa fa-plus-square-o fa-2x pull-left"
        span Add Department
br
br
div class="row"
  div class="col-sm-12 col-lg-12 col-md-12"
    - unless @departments.blank?
      = render partial: 'lhs_table_departments', locals: { departments: @departments }

  = render partial: 'departments/employees'