div class="row"
  div class="col-sm-12 col-lg-12 col-md-12"
    = render partial: 'departments/block_btn', locals: { department: @department }
    br /
    span Name:
    h3
      = @department.name
    br /
    span Description:
    div
      = @department.description

= render partial: 'departments/employees'
