html, body
  height: 100%
  padding-top: 44px
  margin: 0 auto -8em
  .container
    min-height: 90%
    height: auto !important
    height: 90%
  i
    margin-right: 10px
  .connect_employees
    margin-right: 5px
  .btn-circle
    width: 30px
    height: 30px
    text-align: center
    padding: 6px 0
    margin-left: 8px
    font-size: 12px
    line-height: 1.428571429
    border-radius: 15px
  .timepicker-range
    span.input
      width: 75%
      float: left
      &.from
        padding-right: 10px
        input
      &.to
        padding-left: 10px
        input

  #department-container
    width: 100%
    max-width: 700px
    margin: 2em auto
    display: inline-table
  .box
    display: grid
    margin-bottom: 20px
    height: 100px
    &.active
      color: #F9F9F9
