doctype html
html
  head
    title HR-CRM
    meta name="keywords" content="template language"
    meta name="author" content='author'
    == stylesheet_link_tag    :application, media: :all, data: { turbolinks: { track: true } }
    == csrf_meta_tags
  body class="swag-line template-index"
    nav class="navbar navbar-landing navbar-inverse navbar-fixed-top" role='navigation'
      div class="container-fluid"
        div class="navbar-header"
          button class="navbar-toggle collapsed" type="button" data-target=".navbar-collapse" data-toggle="collapse"
            span class="sr-only" Toggle navigation
            span class="icon-bar"
            span class="icon-bar"
            span class="icon-bar"
          = link_to 'HR-CRM', root_path
        div class="collapse navbar-collapse"
          ul class="nav navbar-nav navbar-left"
            li class="#{controller_name == 'departments' ? 'active' : ''}"
              = link_to 'Departments', departments_path
            li class="#{controller_name == 'employees' ? 'active' : ''}"
              = link_to 'Employes', employees_path
          = render 'shared/nav_user_links'
    div class="container-overflow-wrap"
      div class="container"
        = render 'shared/flash_messages'
        == yield
    div id="footer"
  = javascript_include_tag :application, media: :all, data: { turbolinks: { track: true } }
  = yield :javascript
