.container style=("padding-top: 60px;")
  .row
      .row
        h2 Edit #{resource.email}
        - if policy(resource).create_employee_account?
          = link_to '#', class: 'btn btn-default btn-block btn-bigg' do
            i class="fa fa-plus-square-o fa-2x pull-left"
            span Create Employee account
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!

          .form-group
            = f.label :email, class: ''
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              | Currently waiting confirmation for: <%= resource.unconfirmed_email

          .form-group
            = f.label :password
            br
            = f.password_field :password, autocomplete: 'off', class: 'form-control'
            - if @minimum_password_length
              br
              em= "#{@minimum_password_length}  characters minimum"

          .form-group
            = f.label :password_confirmation, class: ''
            br
            = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'

          .form-group
            = f.label :current_password
            /i (we need your current password to confirm your changes)
            = f.password_field :current_password, autocomplete: 'off', class: 'form-control'


          .form-group.field class="#{resource.errors.include?(:role) ? 'has-error' : ''}"
            = f.label :role, 'Roles'
            br
            = f.radio_button :role, 'ROLE_EMPLOYEE', checked: resource.employee?
            | Employee
            = f.radio_button :role, 'ROLE_MANAGER', checked: resource.manager?
            | Manager
            = f.radio_button :role, 'ROLE_ACCOUNT_MANAGER', checked: resource.account_manager?
            | Account Manager
            = f.radio_button :role, 'ROLE_DEV', checked: resource.dev?
            | Developer
            = f.radio_button :role, 'ROLE_HR', checked: resource.hr?
            | HR
            = f.radio_button :role, 'ROLE_MODERATOR', checked: resource.moderator?
            | Moderator
            = f.radio_button :role, 'ROLE_BOSS', checked: resource.boss?
            | BOSS
            - if resource.errors.include? :role
              span.help-block
                = error_message_for :role, resource
          .form-group
            = f.submit 'Update'

            /p= "Unhappy? #{button_to 'Cancel my account', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}"

          = link_to "Back", :back