h1
  Please Sign Up
div class="social-login-btn"
  -#= render partial: 'users/shared/social_links'
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  div class="form-group"
    = f.label :email, class: ''
    = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
  div class="form-group"
    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-right'
    - if @minimum_password_length
      br
      em= "#{@minimum_password_length}  characters minimum"
    = f.label :password
    = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
  div class="form-group"
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password', class: 'form-control'
  div class="form-group"
    button class="pull-right btn btn btn-primary loginmodal-submit" type="submit" Sign up
  .form-group.field class="#{resource.errors.include?(:role) ? 'has-error' : ''}"
    = f.label :role, 'Roles'
    br
    = f.radio_button :role, 'ROLE_EMPLOYEE', checked: true
    | Employee
    = f.radio_button :role, 'ROLE_MANAGER'
    | Manager
    = f.radio_button :role, 'ROLE_ACCOUNT_MANAGER'
    | Account Manager
    = f.radio_button :role, 'ROLE_DEV'
    | Developer
    = f.radio_button :role, 'ROLE_HR'
    | HR
    = f.radio_button :role, 'ROLE_MODERATOR'
    | Moderator
    = f.radio_button :role, 'ROLE_BOSS'
    | BOSS
    - if resource.errors.include? :role
      span.help-block
        = error_message_for :role, employee
= render 'users/shared/links'
